#root {
  text-align: center;
  width: 100%;
}

.componentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

body {
  width: 100%;
  background-color: #0f181d;
  color: white;
}

.colors li, button {
  cursor: pointer !important;
}